@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    border: 1px solid #2ac3e9;
    border-radius: 0.4rem;
    padding: 0.1rem 0.4rem;
}

.active {
    background-color: #2ac3e9;
    color: white;
}